<div class="container" [ngStyle]="{'margin-top':'100px'}">
    <div class="row justify-content-center">
        <div class="col-lg-5" [ngStyle]="{'margin-bottom':'50px'}">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 className="text-center font-weight-light my-4">Add Task</h3></div>
                <div class="card-body">
                <form (ngSubmit)="onSubmit()"> 
                        <div class="form-floating mb-3">
                            <input class="form-control" placeholder="Title"value="title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}"/>
                            <label className="form-label">Title</label>

                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control bg-textarea" value="desc"placeholder="Description"[(ngModel)]="desc"  [ngModelOptions]="{standalone: true}"></textarea>
                            <label className="form-label">Description</label>
                        </div>
                       
                            <button type='submit' class="btn btn-primary" >Add Task</button>  
                    </form>
                </div>
                
            </div>
        </div>
        <table>
            <thead>
                <th>Title</th>
                <th>Description</th>
            </thead>
            <tbody>
                <tr *ngFor="let todo of list">
                    <td>{{todo.title}}</td>
                    <td>{{todo.desc}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
