<div [ngStyle]="{'margin-top':'100px'}">
    <header className="jumbotron">
        <div className=" row">
            <div className="col-md-8 ">
                <h1>About Project</h1>
                <h6>This is a calculator app and Todo List made in Angular to practice the framework this made just for practice . </h6>
            </div>
        </div>
    </header>
    <div className="random">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, et ea. 
        Quia consequatur autem quis, neque a nemo quibusdam officiis esse voluptates, id explicabo quas.
         Voluptatem error alias obcaecati labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         Obcaecati deserunt, voluptatem qui atque id esse itaque dolor, 
        magnam enim, modi sequi quos tenetur libero dolore. Repellat, quis repudiandae. Enim, iusto?
    </div>
    </div>